

/* footer page  */

footer{
    width: 100%;
    bottom: 0;
    background-color: #f9f9f9;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 1rem;
    line-height: 20px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-col{
    flex-basis: 25%;
    padding: 10px;
}

.footer-col:nth-child(2), .footer-col:nth-child(3){
    flex-basis: 15%;
}

.footer-col .nav-logo{
    width: 80px;
    margin-bottom: 40px;
}

.footer-col h4{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;

}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #333131;
    margin: 20px 0;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: black;
}


.social-links {
  display: flex;
  gap: 16px;
  padding-left: 0 !important;
}

.social-links a i {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.social-links a {
    text-decoration: none;
    color: black;
}



.social-links i:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #000;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

@media (max-width: 992px) {
    .footer-row {
        width: 90%;
    }
    .footer-col {
        flex-basis: 45%;
        margin-bottom: 30px;
    }
    .footer-col:nth-child(2),
    .footer-col:nth-child(3) {
        flex-basis: 45%;
    }
}

