@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&family=Playwrite+IN:wght@100..400&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ****** LOGIN PAGE ******** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #875bb7, #5170a4);
}

.login-container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-container h1 {
    font-size: 30px;
    margin-bottom: 10px;
    /* color: #1a1a1a; */
    color: blue;
}

.login-container p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 30px;
}

.login-container label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
    text-align: left;
}


.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}


.remember {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
}

.remember input {
    margin-right: 8px;
}

/* Login button */
.login-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #2d6dfc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-container button:hover {
    background-color: #1a4ed8;
}